# Ignore everything
*

# But not these files...
!.gitignore

!src
!src/
!src/*
!src/*/
!src/*/*

!libs
!libs/
!libs/*
!libs/*/
!libs/*/*

!*.txt

#hey there, random comment in the gitignore file